*{
  font-family: 'Square';
  color: white;
}

body{
  background-color: #333;
}

table {
  width: 100%;
}

table td, th {
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.colunaDeImagem img {
  height: 100px;
  margin: auto;
  display: block;
}

.colunaDeImagem {
  height: 150px;
  justify-content: center;
}
